ul{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px
}
@import url('https://fonts.cdnfonts.com/css/b-bagian');
@import url('https://fonts.cdnfonts.com/css/wannabeme');
@import url('https://fonts.cdnfonts.com/css/rogan');
                
  
.bg-video{
    position:absolute;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.scratch-img{
    position: relative;
    bottom: 25px;
    width: 100%;
}
.main-container{
    position: relative;
    text-align: center;
}
.nav-bar{
    /* width: 95%; */
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
}

.nav-items{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 25px;
    margin-top: 2%;
    margin-right: 4%;
    font-size: large;
}
.nav-items li{
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.nav-items li a:hover{
    color: orange;
}
.button{
    width: 67%;
    height: 26%;
    padding: 3% 6% 2% 6%;
    border-radius: 6px;
    text-decoration: none;
    background-color:#006FF9;
    color: #fff;
}
.button:hover{
    background-color: orange;
}
   /*main-banner section */
.main-banner{
    height: 500px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}
.form-button{
    border-radius: 5px;
    background-color: #006FF9;
    padding: 0.8% 1.4% 0.8% 1.4%;
}
.form-button:hover{
    background-color: orange;
}
.form-button a{
    text-decoration: none;
    color: #fff;
}

.banner-text h1{
    color:#fff;
    font-size: 96px;
    font-family: 'b Bagian', sans-serif;
    font-weight: 400;
}
.banner-text h3{
    color: #fff;
    font-size: 39px;
    font-weight: 110;
    font-family: 'WANNABEME', sans-serif;
}
.banner-text p{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Rogan', sans-serif;
}

                 /* About */
            
.about-container{
    display: flex;
    justify-content: space-around;
    height: 95vh;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
}
.about-img img{
    width: 662px;
    height: 524px;
}
.about h3{
    font-size: 40px;
    font-family: 'b Bagian', sans-serif;
    font-weight: 300;
}
.about h4{
    font-size: 20px;
    font-family: 'WANNABEME', sans-serif;
    font-weight: 200;
}
.about p{
    font-size: 20px;
    font-family: 'Rogan', sans-serif;
    font-weight: 100;
}

           /* expedition */

.expedition{
    height: 60vh;
    position: relative;
}
.expedition-img{
    position: absolute;
    width: 520px;
    height: 1024px;
    bottom: -190px;
    left: -30px;
    z-index: -1;
}
.expedition-heading{
    text-align: center;
    line-height: 7px;
}
.expedition-heading h3{
    font-size: 38px;
    font-weight: 100;
    font-family: 'b Bagian', sans-serif;
}
.expedition-heading p{
    font-size: 19px;
    font-weight: 100;
    font-family: 'Rogan', sans-serif;
}

.Trips{
    padding: 80px 0px 140px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.Trips div {
    width: 108px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
}
.Trips div p{
    font-family: 'Rogan', sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 2px;
}
.Trips div:hover{
    color: #FFA509;
    border-color: #FFA509;
}
.Trips div img{
    width: 49px;
}


   /* expedition-imgs */

.expedition-imgs{
    height: 90vh;
}   
.card-row-tripdetails{  
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.transform-img {
    overflow: hidden;
    transition: transform .5s ease-in;
    border-radius: 6px;
}

.transform-img :hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
}
.card-flex h5{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Rogan', sans-serif;
}
.card-sec-p{
    width: 97px;
    height: 25px;
    margin: 0px;
    margin-bottom: 17px;
    font-family: 'Rogan', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid transparent;
    background-color: rgba(255, 165, 9, 0.5);
    text-align: center;
    border-radius: 5px;
}
.card-sec-p-3{
    width: 97px;
    height: 25px;
    margin-left: 130px;
    font-family: 'Rogan', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid transparent;
    background-color: rgba(255, 165, 9, 0.5);
    text-align: center;
    border-radius: 5px;
}
.card-dtls{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.card-dtls-rght ,.card-dtls-left{
    display: flex;
}
.icons{
    width: 16px;
}

.trip-button{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.trip-button a{
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    background-color: #006FF9;
    color: #fff;
}
.trip-button a:hover{
    background-color: #FFA509;
}


/* GALLERY */
.gallery{
    width: 100%;
    height: 120vh;
    background-image: url("../images/dark-bg.png");
}
.gallery .gallery-head , .gallery-p{
    color: #fff;
    text-align: center;
}
.gallery-head{
    margin: 0;
    padding: 98px 0 0 0;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'b Bagian', sans-serif;
}
.gallery-p{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Rogan', sans-serif;
}
/* .gallery-imgs{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "gallery-first-img gallery-second-img gallery-third-img"
    "gallery-first-img gallery-forth-img";
} */
.gallery-imgs{
    width: 100%;
    display: flex;
    text-align: center;
    /* gap: 5px; */
    justify-content: center;
}
