ul{
    padding: 0px;
    margin: 0px;
}
.nav-bar{
    /* width: 95%; */
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
}
.nav-items{
    display: flex;
    justify-content:space-between;
    gap: 25px;
    margin-top: 3%;
    margin-right: 4%;
}
.nav-items li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.button{
    width: 67%;
    height: 42%;
    padding: 2%;
}